@font-face {
  font-family: 'PlusJakartaSans';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('../assets/fonts/PlusJakartaSans-VariableFont_wght.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('../assets/fonts/Inter-VariableFont_slnt,wght.woff2') format('woff2');
}
