###
# Example Easy Genomics .env configuration file for local development purposes.
# The same configuration settings are required for the GitHub CI/CD configuration.
#
# The Easy Genomics AWS_REGION must be an AWS region that supports AWS HealthOmics.
# This is currently limited to:
#  - us-east-1 // US East (Virginia)
#  - us-west-2 // US West (Oregon)
#  - ap-southeast-1 // Asia Pacific (Singapore)
#  - eu-central-1  // Europe (Frankfurt)
#  - eu-west-1 // Europe (Ireland)
#  - eu-west-2 // Europe (London)
###

ENV_NAME=
AWS_ACCOUNT_ID=
AWS_REGION=
DOMAIN_NAME=
HOSTED_ZONE_ID=
HOSTED_ZONE_NAME=
CERTIFICATE_ARN=
